/* Imports fonts from google fonts */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');



/* Variables */
:root {

    /* Font colors  */
    --fc-green: hsl(75, 94%, 57%);
    --fc-white: hsl(0, 0%, 100%);
    --fc-grey-700: hsl(0, 0%, 20%);
    --fc-grey-800: hsl(0, 0%, 12%);
    --fc-grey-900: hsl(0, 0%, 8%);

    /* Font size */
    --fs-14px: 14px;

    /* Font Weight */
    --weight-400: 400;
    --weight-600: 600;
    --weight-700: 700;
}


body {
    font-family: "Inter", serif;
    font-optical-sizing: auto;
    font-weight: var(--weight-400);
    font-style: normal;
    font-size: var(--fs-14px);
    background-color: var(--fc-grey-900);
    min-height: 100vh;
    color: var(--fc-white);
    display: grid;
    grid-template-columns: 100%;
    place-content: center;
    place-items: center;
}

.main-container {
    background-color: var(--fc-grey-800);
    width: 60%;
    height: 75vh;
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    padding: 2rem;
}

.header-container {
    height: 40%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.header-container figure {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.header-container figure img {
    width: 12rem;
    height: auto;
    border-radius: 50%;
}

.header-container figcaption {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0.5rem;
}

figcaption h2 {
    font-size: clamp(2rem, 3rem, 3.5rem);
}

figcaption h4 {
    color: var(--fc-green);
    font-size: clamp(1rem, 1.5rem, 2.5rem);
}


aside p {
    font-size: 1.9rem;
}


.skills-container {
    height: 60%;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
}

.skills-items {
    width: 95%;
    height: 6rem;
    border-radius: 10px;
    background-color: var(--fc-grey-700);
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 1.8rem;
    font-weight: 600;
}

